# {{ ansible_managed }}
OLLAMA_URL=http://127.0.0.1:{{ ollama_port }}
QDRANT_URL=http://127.0.0.1:{{ qdrant_port }}
QDRANT_COLLECTION={{ qdrant_collection }}
EMBEDDING_MODEL={{ embedding_model }}
CHUNK_SIZE={{ chunk_size }}
CHUNK_OVERLAP={{ chunk_overlap }}
LANGFUSE_HOST={{ langfuse_host }}
LANGFUSE_PUBLIC_KEY={{ langfuse_public_key }}
LANGFUSE_SECRET_KEY={{ langfuse_secret_key }}
